@import "tailwindcss";
@plugin "daisyui";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 245, 255;
  --background-end-rgb: 230, 235, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

.bg-grid-pattern {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}

.bg-pattern-dots {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.4) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}

@keyframes bounce-up-and-fade-out {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.animate-bounce-up-and-fade-out {
  animation: bounce-up-and-fade-out 2s ease-out forwards;
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* height of the container */
.leaflet-container {
  height: 65vh;
  width: 50%;
  border-radius: 2rem;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}
